/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 30 de nov. de 2025, 10:09:34
    Author     : Samsung
*/
body {
    font-family: Arial, sans-serif;
    background: #f7f1fa;
    margin: 0;
}

.navbar {
    background: #7a1eb6;
    color: white;
    padding: 15px;
    text-align: center;
}

.footer {
    background-color: #7a1eb6;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
}

.container {
    padding: 25px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #0003;
    margin-bottom: 25px;
}

h1, h2 {
    color: #7a1eb6;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

input, select {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #999;
    margin-top: 5px;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    background: #114acf;
    color: #ffffff;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}
/* Login */
.login-container {
    background: white;
    max-width: 400px;
    margin: 80px auto;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 0 15px ;
}

.texto-menor {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}

/* Tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td {
    border: 1px solid #aaa;
    padding: 10px;
    text-align: center;
}

th {
    background: #7a1eb6;
    color: white;
}




